<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {{ if show_heading }}
            <h1>{{ heading }}</h1>
        {{ endif }}

        <ul class="items">
        {{ for item in items }}
            <li>{{ item }}</li>
        {{ endfor }}
        </ul>

        <ul class="outer_loop">
        {{ for outer_item in outer_loop }}
            <li>
                {{ outer_item }}
                <ol class="inner_loop">
                {{ for inner_item in inner_loop }}
                    <li>{{ inner_item }}</li>
                {{ endfor }}
                </ol>
            </li>
        {{ endfor }}
        </ul>

        <div class="outer_range">
        {{ for i in 0..3 }}
            <div class="inner_range">
            {{ for j in 0..3 }}
                <span class="item-{{ i }}-{{ j }}">{{ i }} - {{ j }}</span>
            {{ endfor }}
        {{ endfor }}
        </div>

        {{ if show_footer }}
            <footer class="show_footer">{{ footer }}</footer>
        {{ elif custom_footer }}
            <footer class="custom_footer">{{ custom_footer }}</footer>
        {{ else }}
            <footer class="default_footer">No footer available.</footer>
        {{ endif }}

        <div class="count">Count: {{ count }}</div>

        <div class="if_conditional">
        {{ if count > 2 }}
            <p>Count greater than 2</p>
        {{ else }}
            <p>Count less than or equal 2</p>
        {{ endif }}
        </div>

        <div class="ternary_like">
            <p>Count is {{ if count % 2 == 0 }}even{{ else }}odd{{ endif }}</p>
        </div>

        <div class="conditional_inside_range">
        {{ for i in 0..10 }}
            {{ if i % 2 == 0 }}
                <p class="even">{{ i }} is even</p>
            {{ else }}
                <p class="odd">{{ i }} is odd</p>
            {{ endif }}
        {{ endfor }}
        </div>

        <div class="triangle">
        {{ for i in 0..10 }}
            {{ for j in 0..10 }}
                {{ if j <= i }}
                    <span class="item-{{ i }}-{{ j }}">*</span>
                {{ endif }}
            {{ endfor }}
            <br />
        {{ endfor }}


    </body>
</html>

