<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {{ if show_heading }}
            <h1>{{ heading }}</h1>
        {{ endif }}
        <ul>
        {{ for i in outer_list }}
            <li>
                <ul>
                {{ for j in inner_list }}
                    <li>{{ i }}-{{ j }}</li>
                {{ endfor }}
                </ul>
            </li>
        {{ endfor }}
        </ul>
        {{ if show_footer }}
            <footer>{{ footer }}</footer>
        {{ elif custom_footer }}
            <footer>{{ custom_footer }}</footer>
        {{ else }}
            <footer>No footer available.</footer>
        {{ endif }}
    </body>
</html>

